
header{
    display: flex;
    background-color: whitesmoke;

}
.first{
    margin-left: 50px;
    font-weight: bolder;
    color: black;
}
.second{
    margin-left: 350px;

}
.thrid{
    margin-left: 550px;
   
}
#Ln{
    border: 1.5px solid black;

}
#Res{
    border: 1.5px solid black;
}
#Ca {
    border: 1.5px solid black;
}

a{
    text-decoration: none;
}